.footer{
    background-color: #14143E;
    margin-top: 2rem;
    h3{
        margin-top: 2rem;
        font-size: 18px;
        color: #FFFFFF;
    }
    h2{
        margin-top: 2rem;
        font-size: 24px;
        color: #FFFFFF;
    }
    p{
        margin-top: 1rem;
        color: #FFFFFF;
    }
    a{
        color: #FFFFFF;  
    }
    span{
        margin-top: 1rem;
        color: #FFFFFF;  
    }
    .Search {
        align-items: center;
        display: flex;
        height: 40px;
        input {
            border: 1px  solid #FFFFFF;
            border-radius: 10px 10px 10px 10px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            height: 100%;
            line-height: 30px;
            outline: none;
            padding-left: 10px;
            text-align: left;
            width: 100%;
        }
     
    }
    button {
        margin-top: 10px;
        background: #3DAA67;
        border: none;
        border-radius: 5px 5px 5px 5px;
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        height: 50%;
        line-height: 22px;
        outline: none;
        text-align: center;
        width: 120px;
    }
    .footer-end{
        img{
            height: 47px;
            width: 150;
        }
    }

}

@media (max-width: 992px) {
    .footer{
        p {
            font-size: 14px;
        }
    }
  }
  @media (max-width: 768px) {
    .footer{
        h2 {
            font-size: 18px;
        }
    }
  }
  @media (max-width: 625px) {
 
  }
  @media (max-width: 425px) {
    .footer{
        h2 {
            font-size: 14px;
        }
        p{
            font-size: 12px;
        }
        a{
            font-size: 14px;
        }
        h3{
            font-size: 12px;
        }
        span {
           
            font-size: 12px;
        }
        .Search input {
            font-size: 12px;
        }
        button{
            width: 100px;
        }
    }
  }
  