.home {
  .quiz-container {
  .toop-sec{

    button{
 
      color: rgba(236,0,140,1);
      font-family: "FSLucasPro-XtraBd";
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0px;
      text-align: center;
      border-radius: 20px;
      opacity: 1;
      background-color: rgba(243,243,245, 1);
      height: 40px;
      width: 180px;
      border: none;
    }
    h3 {
      margin-top: 2rem;
      font-size: 30px;
      font-weight: 700;
      color: #59358C;
    }
    .tool-icon{
      opacity: 1;
      height: 30px;
      width: 30px;
      margin-right: 1rem;
    }
    p{
      margin-top: 1rem;
      opacity: 1;
      color: rgba(20,20,62,1);
      font-family: "FSLucasPro-Regular";
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0px;
      text-align: left;
    }
  
  }
    .ask-quistion {
      h2 {
        font-size: 14px;
        font-weight: 600;
        color: #59358c;
      }
      h3 {
        font-size: 24px;
        font-weight: 700;
        color: #59358c;
      }
      .question-bg {
        cursor: pointer;
        background: #f1f1f1;
        padding: 14px 0px;
      }
      .question-bg2 {
        cursor: pointer;
        padding: 14px 0px;
      }
      .selected-answer {
        background: #ffd6ff;
        border: 1px solid #800080;
       
      }
      .active-question-no {
        font-size: 24px;
        font-weight: 500;
        color: #800080;
      }
      .total-question {
        font-size: 16px;
        font-weight: 500;
        color: #e0dee3;
      }
      h2 {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
      }
      ul {
       
        margin-top: 20px;
        margin-left: -40px;
      }    
    }
  }
  
  .top-section {
    button {
      margin-top: 2rem;
      background: 1px solid gainsboro;
      border: none;
      border-radius: 10px 10px 10px 10px;
      color: #ec008c;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      height: 40px;
      width: 200px;
      line-height: 22px;
      outline: none;
      text-align: center;
    }
    h2 {
      color: #59358c;
    }
  }

  .question-sec {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    margin-top: 2rem;
    background: #f1f1f1;
    h3 {
      display: flex;
      justify-content: center;
      font-size: 14px;
    }
    .back-btn {
      button {
        background: white;
        border: none;
        border-radius: 5px 5px 5px 5px;
        color: #ec008c;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        padding: 7px 19px;
        font-size: 14px;
        line-height: 22px;
        outline: none;
        text-align: center;
      }
    }

    .progress-bar {
      position: relative;
      height: 8px;
      width: 446px;
      border-radius: 5px;
      border: 1px solid #333;
    }

    .filler {
      background: #ec008c;
      height: 100%;
      border-radius: inherit;
      transition: width 0.2s ease-in;
    }

    #vids {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #vids a:first-of-type {
      margin-bottom: 5px;
    }
  }
  .outcomes{
    .btn-style{
      border-radius: 21px;
      width: 133px;
      height: 39px;
      background-color: rgba(230,0,125, 1);
      border: none;
      margin-top: 1.5rem;
      color: rgba(255,255,255,1);
      font-family: "FSLucasPro-Bold";
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 0px;
      text-align: center;
    }
    .top-sec{
      h2{
        opacity: 1;
        color: #F7941E;
        // color: rgba(20,20,62,1);
        font-family: "FSLucasPro-Regular";
        font-size: 28px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        text-align: left;
      }
      h3{
        opacity: 1;
        color: rgba(247,148,30,1);
        font-family: "FSLucasPro-XtraBd";
        font-size: 28px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        text-align: left;
      }
    }
    .friend-sec{
      border-radius: 15px;
      p{
        padding: 32px;
        opacity: 1;
      color: rgba(20,20,62,1);
      font-family: "FSLucasPro-LightItalic";
      font-size:24px;
      font-weight: 300;
      font-style: italic;
      letter-spacing: 0px;
      }
      .pera{
        padding: 0px;
        opacity: 1;
        color: rgba(0,174,239,1);
        font-family: "FSLucasPro-LightItalic";
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 0px;
        text-align: left;
      }
    }
    .compare-sec{
      h2{
        opacity: 1;
        color: rgba(89,53,140,1);
        font-family: "FSLucasPro-XtraBd";
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        text-align: left;
      }
      p{
        opacity: 1;
        color: #14143E;
        font-family: "FSLucasPro-XtraBd";
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        text-align: left;
      }
      img{
        width: 28.5rem;
      }
      h3{
        opacity: 1;
        color: rgba(89,53,140,1);
        font-family: "FSLucasPro-XtraBd";
        font-size: 28px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        text-align: left;
      }
      .pera-2{
        padding: 30px 0px 10px 34px;
        opacity: 1;
        color: rgba(255,255,255,1);
        font-family: "FSLucasPro-Regular";
        font-size: 17px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        text-align: left;
      }
     
    }
    .card {
      margin: 20px;
      padding: 10px;
      border-radius: 20px;
      border: none;
      background-color: rgba(243,243,245, 1);
      .card-title{
        opacity: 1;
      color: rgba(89,53,140,1);
      font-family: "FSLucasPro-Bold";
      font-size: 22px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 0px;
      text-align: left;
      }
    }
    .botom-sec{
      h2{
        color: rgba(89,53,140,1);
        font-family: "FSLucasPro-XtraBd";
        font-size: 28px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        margin-left: 33px;
      }
    }
  }

}

@media (max-width: 992px) {
  .home {
    .question-sec {
      .progress-bar {
        position: relative;
        height: 20px;
        width: 290px;
        border-radius: 50px;
        border: 1px solid #333;
      }
    }
  }
}
@media (max-width: 768px) {
}
@media (max-width: 625px) {
  .home {
    .question-sec {
      .progress-bar {
        position: relative;
        height: 20px;
        width: 200px;
        border-radius: 50px;
        border: 1px solid #333;
      }
    }
  }
}
@media (max-width: 425px) {
  .home {
    .ask-quistion {
      h2 {
        font-size: 12px;
    }
    }
  }
}
