.navclass {
  // width: 100%;
  // height: 55px;
  background-color: #14143e;
  // box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  // z-index: 2;
  .Search {
    align-items: center;
    display: flex;
    height: 36px;
    opacity: 1;
    input {
      border: 1px solid #ec008c;
      border-radius: 5px 0 0 5px;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      height: 100%;
      line-height: 30px;
      outline: none;
      padding-left: 10px;
      text-align: left;
      width: 100%;
    }
    button {
      background: #ec008c;
      border: none;
      border-radius: 0 5px 5px 0;
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      height: 100%;
      line-height: 22px;
      outline: none;
      text-align: center;
      width: 100px;
    }
  }
  .logo {
    margin-bottom: 0.8rem;
    img {
      height: 47px;
      width: 150;
    }
  }
  .select {
    height: 42px;
    width: fit-content;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: white;
    border: none;
    outline: none;
    background: transparent;
    option {
      color: #14143e;
    }
  }
  .divider {
    color: #89899d;
  }
}
.navbar-expand-lg .navbar-collapse {
  justify-content: center;
  margin-top: 1rem;
}

#responsive-navbar-nav {
  a {
    margin: 0 30px !important;
    font-size: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    &:hover,
    &:focus {
      color: #de8300 !important;
    }
  }
}

.signup {
  font-size: 12px;
  border: none;
  text-transform: capitalize;
  background: linear-gradient(92.39deg, #ff9700 0%, #de8300 91.96%);
  border-radius: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 136px;
  margin: 0 30px !important;
  svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
}

.profile-icon {
  display: none;
}
@media (max-width: 1024px) {
  .nav-link {
    margin: 0 28px !important;
  }
}
@media (max-width: 992px) {
  .signup {
    border-radius: 13px;
    margin: 6px 24px !important;
  }
  .navbar-toggler {
    border: none !important;
    &:focus {
      box-shadow: none !important;
    }
  }
  .nav-link {
    margin: 0 !important;
  }
  .navclass {
    .logo{
      img{
        display: none;
      }
    }
    .profile-icon {
      display: block;
      width: 25px;
      img{
        height: 25px;
        fill: #ff9700;
      }
     
    }
    
    .icon {
      display: none;
    }
    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: auto;
    }
    .dropdwons {
      display: flex;
      justify-content: center;
    }
  }
}
@media (max-width: 768px) {
  .navclass {
    .dropdwons {
      .select {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 425px) {
  .navclass {
    .dropdwons {
      .select {
        font-size: 9px;
      }
    }
   
    .logo {
      img {
        height: 36px;
      }
    }
  }
}
