@font-face {
    font-family: 'FS Lucas';
    src: url('./FS-Lucas-Family/TrueType/FSLucas-Regular.ttf') format('truetype'),
         url('./FS-Lucas-Family/OpenType/FSLucas-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
 